body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    width: 100%;
    max-width: 1364px;
    zoom: 95%;
    margin-left: 300px;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

.btn {
    border: none;
    outline: none;
    cursor: pointer;
}

.btn__main {
    font-family: 'hind-bold';
    font-weight: 700;
    font-style: normal;
}

li {
    list-style-type: none;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

.header {
    display: flex;
    position: absolute;
    z-index: 1;
}

.header__container {
    display: flex;
    margin-top: 20px;
    width: 100%;
    max-width: 1364px;
    align-items: center;
}

.logo {
    margin-left: 18px;
}

.search {
    display: flex;
    align-items: center;
    margin-left: 85px;
    padding-left: 10px;
    background: rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(18px);
    border-radius: 2px;
    Width: 256px;
    Height: 40px;
}

.search__S {
    border: none;
    height: 20px;
    outline: none;
    background: none;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.search__S::-ms-clear {
    width: 0;
    height: 0;
}

.search__btn {
    height: 20px;
    background: none;
    padding-left: 46px;
}

.tools {
    display: flex;
    align-items: center;
    padding-left: 608px;
}

.tools__img {
    display: flex;
    justify-content: space-between;
}

.tools__img:not(:first-child) {
    margin-left: 20px;
}

.nav {
    position: absolute;
    width: 290px;
    height: 940px;
    font-family: 'hind-semibold';
    font-weight: 600;
    font-style: normal;
}

.bgmenu {
    margin-top: 80px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.nav__list {
    margin-left: 20px;
}

.nav__osn:not(:first-child) {
    padding-top: 14px;
}

.playlist {
    display: flex;
}

.plus {
    padding-left: 195px;
}

.nav__a {
    color: #AAAEB5;
}

.nav__avatar {
    display: flex;
    align-items: center;
    border-top: 1px solid #343538;
    background-color: #000;
    width: 290px;
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.avatar {
    padding: 21px;
}

.nav__text {
    padding-left: 20px;
}

.nav__kebab {
    padding-left: 105px;
}

.main {
    margin-left: 290px;
}

.main__container {
    background-image: url(../img/bg.png);
    width: 1066px;
    height: 360px;
}

.main__container-header {
    padding-top: 150px;
    padding-left: 60px;
}

.main__container-txt {
    font-size: 13px;
    line-height: 21px;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    color: #CAD0D8;
    font-family: 'hind-regular';
    font-weight: 400;
    font-style: normal;
}

.main__container-h1 {
    font-size: 42px;
    line-height: 67px;
    color: #FFFFFF;
    margin: 0;
    font-family: 'hind-bold';
    font-weight: 700;
    font-style: normal;
}

.main__container-btns {
    padding-top: 20px;
    display: flex;
    align-items: center;
}

.main__container-btn {
    background-color: #00C65E;
    width: 100px;
    height: 40px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
}

.main__container-subbtn {
    font-size: 14px;
    line-height: 22px;
    background: transparent;
    color: #00C65E;
    padding-left: 20px;
}

.main__container-kebab {
    padding-left: 20px;
    padding-top: 4px;
}

.main__container-tabs {
    padding-left: 60px;
    padding-top: 20px;
    font-family: 'hind-regular';
    font-weight: 400;
    font-style: normal;
}

.main__container-list{
    display: flex;
}

.txt:not(:first-child) {
    padding-left: 30px;
    font-size: 14px;
    line-height: 20px;
    color: #81868C;
}

.txt___main {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    border-bottom: 2px solid #00C65E;
    padding-bottom: 4px;
}

.main__popular-artists {
    display: flex;
    margin-top: 20px;
    margin-left: 60px;
}

.main__popular-txt {
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    align-items: center;
    font-family: 'hind-bold';
    font-weight: 700;
    font-style: normal;
}

.mainlist {
    display: flex;
    align-items: center;
}

.mainlist:not(:first-child) {
    padding-top: 5px;
}

.tt {
    font-size: 14px;
    line-height: 22px;
    color: #CAD0D8;
    padding-left: 10px;
    font-family: 'hind-regular';
    font-weight: 400;
    font-style: normal;
}

.tx {
    font-size: 14px;
    line-height: 22px;
    color: #fff;
    padding-left: 50px;
    width: 240px;
    height: 20px;
    font-family: 'hind-medium';
    font-weight: 500;
    font-style: normal;
}

.xt {
    font-size: 14px;
    line-height: 22px;
    text-align: right;
    padding-left: 80px;
    font-family: 'hind-regular';
    font-weight: 400;
    font-style: normal;
}

.relatedArtists {
    margin-left: 106px;
}

.main__artist-txt {
    font-size: 15px;
    line-height: 24px;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    font-family: 'hind-bold';
    font-weight: 700;
    font-style: normal;
}

.main__artist {
    display: flex;
    align-items: center;
}

.main__artist:not(:first-child) {
    padding-top: 10px;
}

.xx {
    font-size: 14px;
    line-height: 22px;
    color: #fff;
    padding-left: 20px;
    font-family: 'hind-medium';
    font-weight: 500;
    font-style: normal;
}

.main__popular-a {
    font-size: 14px;
    line-height: 25px;
    text-decoration-line: underline;
    color: white;
}

.main__popular-a__container {
    margin-top: 10px;
    font-family: 'hind-regular';
    font-weight: 400;
    font-style: normal;
}

.main__albums {
    margin-top: 20px;
    margin-left: 60px;
}

.main__albums-txt {
    font-size: 15px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-family: 'hind-bold';
    font-weight: 700;
    font-style: normal;
}

.main__albums-container {
    display: flex;
    margin-top: 10px;
    width: 420px;
    height: 100px;
}

.main__albums-container-txt {
    padding-left: 20px;
}

.pp {
    font-size: 13px;
    line-height: 21px;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    color: #CAD0D8;
    font-family: 'hind-regular';
    font-weight: 400;
    font-style: normal
}

.px {
    font-size: 34px;
    line-height: 54px;
    font-family: 'hind-bold';
    font-weight: 700;
    font-style: normal;
}

.main__albums-container-btn {
    display: flex;
    padding-top: 6px;
}

.btn__album {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #00C65E;
    background: transparent;
    padding: 0;
    font-family: 'hind-bold';
    font-weight: 700;
    font-style: normal;
}

.main__albums-container-kebab {
    padding-top: 3px;
    padding-left: 20px;
}

.main__albums-sub {
    display: flex;
    align-items: center;
    width: 946px;
    height: 40px;
}

.ii {
    font-size: 14px;
    line-height: 22px;
    color: #CAD0D8;
    font-family: 'hind-regular';
    font-weight: 400;
    font-style: normal;
}

.ix {
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    padding-left: 50px;
    font-family: 'hind-medium';
    font-weight: 500;
    font-style: normal;
}

.xi {
    width: 100px;
    font-size: 14px;
    line-height: 22px;
    text-align: right;
    color: #CAD0D8;
    padding-left: 687px;
    font-family: 'hind-regular';
    font-weight: 400;
    font-style: normal;
}

.popularity {
    padding-left: 26px;
}

.footer__pl {
    position: absolute;
    left: 591px;
    top: 854px;
    width: 1056px;
    height: 36px;
    z-index: 1;
}

.footer {
    position: absolute;
    width: 1056px;
    height: 108px;
    left: 591px;
    top: 880px;
}

.footer__bg {
    background: #242526;
    display: flex;
    align-items: center;
    width: 1066px;
    height: 70px;
    position: absolute;
}

.footer__np {
    display: flex;
    width: 309px;
    height: 60px;
    padding-left: 10px;
    align-items: center;
}

.footer__name {
    padding-left: 9px;
}

.footer__name-container {
    display: flex;
}

.yy {
    font-size: 14px;
    line-height: 22px;
}

.yx {
    padding-left: 5px;
}

.xy {
    padding-left: 10px;
}

.ox {
    font-size: 14px;
    line-height: 22px;
}

.controls {
    margin-left: 104px;
    display: flex;
}

.controls__footer:not(:first-child) {
    padding-left: 30px;
}

.media__control {
    padding-left: 333px;
    display: flex;
}

.media__control-icon:not(:first-child) {
    padding-left: 30px;
}